/* ------------------- HELPER ------------------- */  

div,
main,
section,
footer {
  outline:1px solid #ccc;
  min-height: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ------------------- GENERAL ------------------- */  

html {
  color: #3B3B3B;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}


/* ------------------- MOBILE ------------------- */ 

@media only screen and (max-width: 767px) {

/* ------------------- HEADER ------------------- */ 

.header__content{
  width: 100%;
  display: grid
}

.header__row {
  display: grid;
  grid-template-columns: auto 1fr; /* First column auto-sizes to logo, second takes remaining space */
  align-items: center;
  margin-bottom: 50px
}

.logo__icon {
  height: 40px;
  margin-left: 0;
  padding-left: 0;
}
.navbar__row {
  background-color: beige;
  display: none;
}

.navbar__col {
  position:relative;
  background-color: beige;
  font-family: "Ubuntu", sans-serif;
  font-style: medium ;
}

/* ------------------- MAIN   ------------------- */ 
.main__row {
  padding: 0;
}


/* ------------------- HERO BANNER ------------------- */ 
.hero__row {
    display: none;
}

.hero__col {}

.banner__image {}

.banner__box {}

.banner__box--text {
  font-family: "Ubuntu", sans-serif;
  font-style: medium ;
  font-size: 18px ;
}

/* ------------------- WHO WE ARE - INTRO ------------------- */ 

.introduction__row {
  padding: 0;
}

.introduction__col {}

.introduction__text {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 34px ;
  margin-bottom: 90px;
}

.metrolics__highlight {
  color: #1EAFDE;
}

/* ------------------- WHAT WE DO ------------------- */ 
.whatwedo__row {
  padding: 0;
}

.whatwedo__col {
  text-align: center;

}

.offers__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.offers__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}

.service__row {
  display: block;
  padding: 0;
}

.service__col {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 0;
  height: 140px;
  margin-bottom: 10px;
}

.service__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}

.service__name {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.service__icon {
  width: 80px;
  height: 80px;
}

.service__col p {
  font-family: "Ubuntu", sans-serif;
  color:#939393;
  font-size: 12px;
}

/* ------------------- WHATS UP LATELY ------------------- */ 

.whatsup__row {}

.whatsup__col {}

.events__heading {
  font-family: "Ubuntu", serif;
  font-style: medium ;
  font-size: 28px ;
}

.events__subheading {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 12px ;
  color: #A3A3A3;
}

.blow__row {}

.blow__col {}

.blog-item__date {}

.blog-item__heading {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 16px ;
  /* color: white; */
}

.blog-item__subtitle {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 11px ;
  /* color: white; */
}

.blog-item__info {}

.blog-item__icon {}

/* ------------------- OUR BEST WORK ------------------- */ 
.portfolio__row {}

.portfolio__col {}

.portfolio__heading {
  font-family: "Ubuntu", serif;
  font-style: medium ;
  font-size:s 28px ;
}
.portfolio__subheading {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 12px ;
  color: #A3A3A3;
}

.work__row {}

.work__col {}

/* ------------------- CLIENTS ------------------- */ 
.clients__row {}

.clients__col {}

.reviews__heading {
  font-family: "Ubuntu", serif;
  font-style: medium ;
  font-size:s 28px ;
}
.reviews__subheading {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 12px ;
  color: #A3A3A3;
}

.clients__logo {}

/* ------------------- FOOTER ------------------- */ 
.footer__row {}

.footer__col {}

.footer-profile {}

.footer-profile__img {}

.footer-aboutus__col {}

.footer__heading {
  font-family: "Ubuntu", serif;
  font-style: medium ;
  font-size: 15px ;
}

.footer__content {
  font-family: "Ubuntu", serif;
  font-style: regular ;
  font-size: 12px ;
}

.footer__content--highlight {
  color:#1BADE6;
}

.footer-instagram__col {}

.footer-instagram__img {}

.footer-news__col {}

.footer-trackus__col {}

.footer-trackus__social {}

.footer-trackus__email__col {}

.footer-trackus__button {}

.footer-trackus__email__icon {}
  
}