/* ------------------- GENERAL ------------------- */  

html {
  color: #3B3B3B;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

div,
main,
section,
footer {
  min-height: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


/* ------------------- MOBILE ------------------- */ 

@media only screen and (max-width: 39.9375em) {

/* ---- HEADER ---- */ 

.header__content{
  width: 100%;
  display: grid
}

.header__row {
  display: grid;
  grid-template-columns: auto 1fr; /* First column auto-sizes to logo, second takes remaining space */
  align-items: center;
  margin-bottom: 50px
}

.logo__icon {
  height: 40px;
  margin-left: 0;
  padding-left: 0;
}
.navbar__row {
  background-color: beige;
  display: none;
}

.navbar__col {
  position:relative;
  background-color: beige;
  font-family: "Ubuntu", sans-serif;
}

/* ---- MAIN   ---- */ 
.main__row {
  padding: 0;
}


/* ---- HERO BANNER ---- */ 
.hero__row {
    display: none;
}

.banner__box--text {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px ;
}

/* ---- WHO WE ARE - INTRO ---- */ 

.introduction__row {
  padding: 0;
}

.introduction__text {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 34px ;
  margin-bottom: 90px;
}

.metrolics__highlight {
  color: #1EAFDE;
}

/* ---- WHAT WE DO ---- */ 
.whatwedo__row {
  padding: 0;
}

.whatwedo__col {
  text-align: center;

}

.offers__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.offers__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}

.service__row {
  display: block;
  padding: 0;
}

.service__col {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 0;
  height: 140px;
  margin-bottom: 10px;
}

.service__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
}

.service__name {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.service__icon {
  width: 80px;
  height: 80px;
}

.service__col p {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color:#939393;
}

/* ---- WHATS UP LATELY ---- */ 

.whatsup__row {
  margin-bottom: 90px;
}

.whatsup__col {
  text-align: center;
}

.events__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.events__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}

.blog__row {
  display: block;
  padding: 0;
}

.blog__col {
  position: relative; 
  background-image: url("../img/image-blog.png"); 
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 288px;
  margin-bottom: 20px;
}

.blog-item__date {
  position: absolute;
  top: 0px; 
  left: 0px;
  width: 50px; 
  height: 54px;
  background-color: #D8605F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Ubuntu", serif;
  z-index: 10;
}

.blog-item__info {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 54px; 
  background-color: #19B2DE;
  display: flex;
  align-items: center; /* Vertically center the content */
  padding-left: 0;
  color: white;
  font-family: "Ubuntu", sans-serif;
  z-index: 10;
}

.blog-date__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin: 0;
}

.blog-date__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 8px;
  color: white;
  margin: 0; 
}

.blog-item__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px ;
  color: white;
  font-weight: 300;
}

.blog-item__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 11px ;
  color: white;
  font-weight: 300;
  margin-top: -15px;
}

.blog-item__icon {
  width: 20px;
  height: 20px;
  margin-left: auto; /* Empurra o ícone para a direita */
}

/* ---- OUR BEST WORK ---- */ 
.portfolio__col {
  text-align: center;
}

.portfolio__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}
.portfolio__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}

.work__row {
  display: block;
  padding: 0;
}

.work__col {
  width: 100%; 
  height: 288px;
  margin-bottom: 20px;
}

/* ---- CLIENTS ---- */ 
.clients__row {
  display: none;
}

.reviews__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px ;
}
.reviews__subheading {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px ;
  color: #A3A3A3;
}


/* ---- FOOTER ---- */ 
.footer__row {
  background-color: #0E2E4E;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column; /* Forces items to stack vertically */
}

.footer-profile {
  order: 1; /* Keeps Profile first */
  display: inline-flex;
  padding-top: 30px;
  margin: 0;
  position: relative;
  margin-bottom: 50px;
}

.footer-profile__text::after {
  content: "";
  position: absolute;
  left: 118px;
  bottom: -20px;
  width: 150px; /* Adjust width of the line */
  height: 4px; /* Thickness of the line */
  background-color: #FFB901; 
}

.footer-profile__text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-left: 20px;
}

.footer-profile__img {
  border-radius: 100%;
  width: 96px;
  height: 96px;
}

.footer-aboutus__col {
  display: none;
}

.footer__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px ;
  color: white;
  position: relative;
  padding-bottom: 10px;
}

.footer__content {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12px ;
}

.footer__content--highlight {
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  color:#19B2DE;
}

.footer-instagram__col {
  display: none;
}


.footer-news__col {
  order: 3; /* Moves What's New on Mastodon to the end */
  padding: 0;
  margin-bottom: 30px;
}

.footer-news__heading {
  font-size: 16px;
  font-weight: 500;
  color: #19B2DE;
  position: relative;
  padding-bottom: 10px;
}

.footer-news__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 235px; /* Adjust width of the line */
  height: 2px; /* Thickness of the line */
  background-color: #FFB901; 
}

.footer-trackus__row {
  order: 2; /* Moves Track Us after Profile */
  display: inline-flex;
  padding: 0;
}

.footer-trackus__col--empty {
  width: 105px;
}

.footer-trackus__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px ;
  color: white;
  position: relative;
  padding-bottom: 10px;
}

.footer-trackus__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color: #19B2DE; 
}

.footer-trackus__icon {
  padding: 0;
  margin-bottom: 20px;
}

.footer-trackus__social {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
}

.footer-trackus__social:nth-child(1) {
  background-color: #527CC4;
}

.footer-trackus__social:nth-child(2) {
  background-color: #E46145; 
}

.footer-trackus__social:nth-child(3) {
  background-color: #00B0E2; 
}

.footer-trackus__social:nth-child(4) {
  background-color: #F6679C; 
}

.footer-trackus__social:nth-child(5) {
  background-color: #FFB901; 
}

.footer-trackus__email__col {
  display: inline-flex;
}

input {
  background-color: #DE6262;
  border-radius: 2px;
  width: 240px;
  height: 32px;
  border: none;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  border: none;
  opacity: 1; /* Ensures full opacity in some browsers */
  padding: 10px;
}

.footer-trackus__button {
  background-color: #FFB901;
  border-radius: 2px;
  width: 55px;
  height: 32px;
  border: none;
  position: relative;
  left: -5px; 
}
  
.footer-news__col::after {
  content: "";
  display: block;
  height: 17px;
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(to right, 
    #25C389 20%, 
    #FFB901 20% 40%, 
    #DE6262 40% 60%, 
    #1691BD 60% 80%, 
    #166BA2 80%);
}

}

/* ------------------- TABLET ------------------- */ 

@media screen and (min-width: 40em) and
(max-width: 63.9375em) {
/* ---- HEADER ---- */ 
.header__content{
  display:flex;
  flex-direction: column;
  background-color: white;
}
.navbar__row{
  display: flex;
  flex-direction: row;
  
}

.navbar__col{
  padding:10px;
  text-align:center;
  flex: 1;
  text-decoration: none;
  color: white;
  
}

.navbar__icon{
  margin-left: 10px;
}

.header__row{
  background-color: white;
  display: flex;
  padding: 11px 0;
  justify-content: center;
  margin: auto 0px;
}
/* HOVER EFFECT  */
.navbar__col:nth-child(1):hover{
  background-color:#F0F08C ;
  color:#0057C2;
}
.navbar__col:nth-child(2):hover{
  background-color:#F0F08C ;
  color:#0057C2;
}
.navbar__col:nth-child(3):hover{
  background-color:#F0F08C ;
  color:#0057C2;
}
.navbar__col:nth-child(4):hover{
  background-color:#F0F08C ;
  color:#0057C2;
}
.navbar__col:nth-child(5):hover{
  background-color:#F0F08C ;
  color:#0057C2;
}

/* HOVER END  */
.navbar__col:nth-child(1){
  background-color: #25C389;
}
.navbar__col:nth-child(2){
  background-color: #FFB901;
}
.navbar__col:nth-child(3){
  background-color: #DE6262;
}
.navbar__col:nth-child(4){
  background-color: #19B2DE;
}
.navbar__col:nth-child(5){
  background-color: #265787;
}

/* ---- MAIN ---- */ 
.main__row{
  display: flex;
  flex-direction: column;
}
/* ---- HERO BANNER ---- */ 


.hero__row{

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 
}

.hero__col{
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 288px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  
}
.banner__image{
  display: grid;
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 400px;
  padding-bottom: 20px;
 

}
.banner__box{
  
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;

  width: 3px;
  height: auto;
  position: absolute;
  margin: 30px 30px;
}

.banner__box:nth-child(2) {
  top: 10%; 
  background-color: #DE6262;
}

.banner__box:nth-child(3) {
  top: 35%; 
  background-color: #186AA2;
}
.banner__box:last-child{
  top: 60%;
  background-color: #FFB901;
}

.banner__box--text{
 
  background-color: rgb(255 255 255 / 0.5);
  padding: 20px;
  text-align: right;
  width: max-content;
  
}

/* ------WHO WE ARE - INTRO ------ */

.introduction__row{
  text-align: center;
  font-family: "Ubuntu" , sans-serif;
  font-weight: 10;
  margin-top: 70px;
}

.metrolics__highlight{
  color: #1EAFDE;
}

.introduction__text {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 34px ;
  margin-bottom: 20px;
}
/* ---- WHAT WE DO ---- */ 

.whatwedo__row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px 10px;
  margin:auto 5%;  
}

.whatwedo__col{
  text-align: center;
}

.offers__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.offers__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}
.service__content{
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;

}

.service_row {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;


}

.service__col {

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.service__col:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/2;
}
.service__col:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
}

.service__col:nth-child(3){
  grid-row: 2/3;
  grid-column: 1/2;
}
.service__col:nth-child(4) {
  grid-row: 1/3;
  grid-column: 2/3;
}

/* ---- WHATS UP LATELY ---- */

.whatsup__col{
  text-align: center;
}

.events__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.events__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}
.blog__row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;

}

.blog__col:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/3;
}
.blog__col:nth-child(2){
  grid-row: 2/3;
  grid-column: 1/2;
}
.blog__col:nth-child(3){
  grid-row: 2/3;
  grid-column: 2/3;
}


.blog__col {
  position: relative; 
  background-image: url("../img/image-blog.png"); 
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 288px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.blog-item__info {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 54px; 
  background-color: #19B2DE;
  display: flex;
  align-items: center; 
  padding-left: 0;
  color: white;
  font-family: "Ubuntu", sans-serif;
  z-index: 10;
}

.blog-date__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin: 0;
}

.blog-date__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 8px;
  color: white;
  margin: 0; 
}

.blog-item__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px ;
  color: white;
  font-weight: 300;
}

.blog-item__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 11px ;
  color: white;
  font-weight: 300;
  margin-top: -15px;
}

.blog-item__icon {
  width: 40px;
  height: 40px;
  margin-left: auto; 
}

.blog-item__date {
  position: relative;
  top: 0px; 
  left: 0px;
  width: 50px; 
  height: 54px;
  background-color: #D8605F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Ubuntu", serif;
  z-index: 10;
}

.blog-date__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin: 0;
}

.blog-date__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 8px;
  color: white;
  margin: 0; 
}

.blog-item__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px ;
  color: white;
  font-weight: 300;
}

.blog-item__subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 11px ;
  color: white;
  font-weight: 300;
  margin-top: -15px;
}

.blog-item__icon {
  margin-right: 10px;
}

/* ---- OUR BEST WORK ---- */ 

.portfolio__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.portfolio__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}

.portfolio__row{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
 border: 10px;
 
 
}

.work__col{
  background-size: cover;
  background-position: center;
  width: 100%; 
  height: 288px;
  
}
.work__row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.work__col:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/2;
}
.work__col:nth-child(2){
  grid-row: 1/2;
  grid-column: 2/3;
}
.work__col:nth-child(3){
  grid-row: 2/4;
  grid-column: 1/2;
}
.work__col:nth-child(4){
  grid-row: 2/3;
  grid-column: 2/3;
}
.work__col:nth-child(5){
  grid-row: 3/4;
  grid-column: 1/2;
}
.work__col:nth-child(6){
  grid-row: 3/4;
  grid-column: 2/3;
}
.clients__row header{
  background-color: white;
}

.portfolio__col{
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

/* ---- CLIENTS ---- */ 
.reviews__col{
  text-align: center;

}
.reviews__heading {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.reviews__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -10px;
  margin-bottom: 30px;
}
.clients__row{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.clients__col{
  background-color: #F3F3F3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients__col:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/2;
}

.clients__col:nth-child(2){
  grid-row: 1/2;
  grid-column: 2/3;
}
.clients__col:nth-child(3){
  grid-row: 1/2;
  grid-column: 3/4;
}
.clients__col:nth-child(4){
  grid-row: 2/3;
  grid-column: 1/2;
}

.clients__col:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
}

  
.clients__col:nth-child(1) .clients__logo{
  width: 150px;
  height: 50px;
}
.clients__col:nth-child(2) .clients__logo{
  width: 110px;
  height: 160px;
}
/* ---- FOOTER ---- */ 
.footer-profile__img{
  height: 120px;
  width: 160px;;
 margin-right: 20px;
  clip-path: circle(50%);
}
.footer-profile{
  display: flex;
  flex-direction: row;
}
.footer-profile__text::after{
  content: "";
  position: relative;
  display: block;
  width: 50%;
  height: 2px; 
  margin-top: 10px;
 
  background-color: #FFB901; 
}

.footer__row{
  display: grid;
  background-color: #0E2E4E;
  grid-template-columns:1fr auto;
  grid-template-rows: auto auto auto;
  gap:0px;
  margin-top: 20px;

}

.footer__col{
  grid-row:1/2;
  grid-column: 1/3;
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding: 20px;
 color: white;
}

.footer-aboutus__col{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
}
.footer-aboutus__col h4{
  color: #FFB901;
}

.footer-aboutus__col h4::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px; 
  background-color: #21C183; 
  
}

.footer-instagram__col{
  grid-column: 2/3;
  grid-row: 2/3;
  width: max-content;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 3px;
  justify-content: center;
  align-items: start;
  padding:20px;
}

.footer-instagram__col h4{
  color:#DE6262 ;
  text-align: left;
  grid-column: 1 / -1;
  
}
.footer-instagram__col h4::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px; 
  background-color: #19B2DE; 

}

.footer__heading{
  display: block;
}
.footer-instagram__col img {
  width: 60px;
  height: 60px;
  object-fit: cover;

  
}

.footer-trackus__row{
  grid-column: 2/3;
  grid-row: 3/4;
  height: 100%;

}

.footer-trackus__col--empty{

  display: none;
  
}
.footer-trackus__heading{
  color: white;
}
.footer-trackus__heading::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color: #19B2DE; 
}

.footer-trackus__social {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
}

.footer-trackus__social:nth-child(1) {
  background-color: #527CC4;
}

.footer-trackus__social:nth-child(2) {
  background-color: #E46145; 
}

.footer-trackus__social:nth-child(3) {
  background-color: #00B0E2; 
}

.footer-trackus__social:nth-child(4) {
  background-color: #F6679C; 
}

.footer-trackus__social:nth-child(5) {
  background-color: #FFB901; 
}


input {
  background-color: #DE6262;
  border-radius: 2px;
  width: 240px;
  height: 32px;
  border: none;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  border: none;
  opacity: 1; /* Ensures full opacity in some browsers */
  padding: 10px;
}

.footer-trackus__button {
  background-color: #FFB901;
  border-radius: 2px;
  width: 55px;
  height: 32px;
  border: none;
  position: relative;
  left: -5px; 
}

.footer-news__col{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
 color: white;

}
.footer-news__col::after {
  content: "";
  display: block;
  height: 17px;
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(to right, 
    #25C389 20%, 
    #FFB901 20% 40%, 
    #DE6262 40% 60%, 
    #1691BD 60% 80%, 
    #166BA2 80%);
}

.footer-news__col h4::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color:#FFB901; 

}
.footer-news__col h4{
  color: #00B0E2;
}
}

/* ------------------- DESKTOP ------------------- */ 

@media screen and (min-width: 64em) and
(max-width: 74.9375em) {}