/* ------------------- HELPER ------------------- */  

div,
main,
section,
footer,
header {
  outline:1px solid #ccc;
  min-height: 1rem;
  padding: 1rem;
}

/* ------------------- GENERAL ------------------- */  
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* ------------------- HEADER ------------------- */ 
.logo__icon {
  height: 40px;
  justify-content: flex-start;
}

.header__row {
  display: grid;
  row-gap: 1rem;
  background-color: beige;
}

.navbar__row {
  background-color: beige;
  visibility: hidden;
}

.navbar__col {
  position:relative;
  background-color: beige;
}

